/*
  Phones Offers
*/

.phones{
  padding: 2px;
}

.phone {
  transition: 0.2s;
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

//.phone:hover {
//  transition: 0.2s;
//  background-color: #98cbe8;
//}

//.phone-selected {
//  transition: 0.2s;
//  background-color: #7ba3be;
//}

.purchase-button {
  padding: 20px;
  margin: 15px;
}