/*
 General
*/

input[type='radio'] {
  display: none;
}

label {
  cursor: pointer;
}

/*
  Abonnements
*/

.abonnements {
  padding: 2px;
}

.abonnement {
  transition: 0.2s;
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}


@media (min-width: 600px) {
  .abonnement:hover {
    transition: 0.2s;
    background-color: #D1D1D1;
  }
}

.abonnement-selected {
  transition: 0.2s;
  background-color: #7ba3be;
}



/*
  Options
*/

.options {
  padding: 2px;

}

.option {
  transition: 0.2s;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .option:hover {
    transition: 0.2s;
    background-color: #D1D1D1;
  }
}

.option-selected {
  transition: 0.2s;
  background-color: #C77D7C;
}

/*
  Form
*/
.form-send {
  padding: 20px;
}

.form-send button {
  color: #fff;
  background-color: #2ecc71;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.form-send button:hover {
  transition: 0.2s;
  color: #2ecc71;
  background-color: #F5F8FA;
}

.form-send button[disabled='disabled'] {
  transition: 0.2s;
  color: rgba(140, 140, 140, 0.59);
  background-color: #eee;
}

